<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QRZPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QRZPrinter.Properties.Settings>
            <setting name="PrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="CallSign" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageName" serializeAs="String">
                <value />
            </setting>
            <setting name="ADIFOPath" serializeAs="String">
                <value />
            </setting>
            <setting name="QSOFields" serializeAs="String">
                <value>CALL,NAME,QSO_DATE,TIME_ON,RST_SENT,RST_RCVD,MODE,QTH,BAND,FREQ,SKCC,TX_PWR,COMMENT</value>
            </setting>
            <setting name="LabelTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="HRD_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="HRD_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="HRD_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="QRZ_User" serializeAs="String">
                <value />
            </setting>
            <setting name="QRZ_Password" serializeAs="String">
                <value />
            </setting>
        </QRZPrinter.Properties.Settings>
    </userSettings>
</configuration>